#### Lab | Final regression model in "Health Care for All" Case

#### Instructions

At this point, we have created a model to predict who will make a donation and who won't (Classification Model). But, what about the ammount of money that each person will give?

In this lab, subset those that have made a donation (Target B) and use that subset to create a model to predict how much money will they give (Target D) (Regression Model).

- Only look at people who have donated (Target B = 1)
- Use this new dataframe to create a model to predict how much they will donate (Target D)
- Using the regression model, make predictions on all of the people our classification model predicted will donate.
- See the pdf file for a schema of the process.

Evaluate the result of your model and estimate how much better the result are for the business in comparison with the naive scenario we discuss on Monday. (Just sending donation cards to everyone)

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

- Loading all data again

In [2]:
data = pd.read_csv('data_with_predictions.csv')

In [3]:
data.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D,Predicted_Target_b
0,0,60.000000,5,9,0,0,39,34,18,10,...,8,94,2,95,12,89,11,0,0.0,1
1,1,46.000000,6,9,16,0,15,55,11,6,...,10,95,12,95,12,93,10,0,0.0,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,11,92,7,95,12,90,1,0,0.0,1
3,0,70.000000,1,4,2,0,23,14,31,3,...,11,94,11,95,12,87,2,0,0.0,1
4,0,78.000000,3,2,60,1,28,9,53,26,...,10,96,1,96,1,79,3,0,0.0,0

1. Only look at people who have donated (Target B = 1)

- Subset data to only include TARGET_B = 1

In [4]:
data_target_B_1 = data[data['TARGET_B'] == 1]

In [5]:
data_target_B_1

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D,Predicted_Target_b
20,2,62.000000,3,8,10,2,25,40,27,11,...,1,94,4,96,3,87,1,1,4.0,1
30,0,61.611649,5,9,0,1,37,58,16,8,...,4,93,1,95,12,90,4,1,7.0,1
45,0,66.000000,5,9,5,0,33,24,39,6,...,12,94,4,96,2,87,4,1,5.0,1
78,0,69.000000,6,9,0,0,34,20,54,2,...,1,95,3,95,11,90,1,1,13.0,1
93,1,73.000000,1,7,10,0,21,53,8,5,...,9,95,9,95,9,92,9,1,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,2,45.000000,5,9,0,0,45,28,37,9,...,6,96,1,96,1,86,8,1,20.0,1
95309,0,51.000000,5,6,1,1,32,43,24,7,...,10,94,2,95,12,93,10,1,15.0,0
95398,0,86.000000,5,9,0,1,32,21,26,9,...,6,95,11,96,2,87,11,1,3.0,1
95403,0,58.000000,4,9,0,0,24,46,20,6,...,3,93,12,96,1,90,3,1,10.0,0
95410,0,58.000000,7,9,0,0,28,35,20,9,...,11,96,8,97,1,86,12,1,18.0,1

- Loading the list of features selected with variance threshold

In [6]:
vt_list = pd.read_csv('col_list_vt.csv')

In [7]:
columns_list = vt_list.columns.tolist()

In [8]:
print(columns_list)

['TCODE', 'HIT', 'MALEMILI', 'MALEVET', 'LOCALGOV', 'STATEGOV', 'FEDGOV', 'POP901', 'POP902', 'POP903', 'POP90C4', 'POP90C5', 'ETH3', 'ETH4', 'ETH5', 'ETH6', 'ETH7', 'ETH8', 'ETH9', 'ETH10', 'ETH11', 'ETH12', 'ETH13', 'ETH14', 'ETH15', 'ETH16', 'AGE901', 'AGE902', 'AGE903', 'AGE904', 'AGE905', 'AGE906', 'AGE907', 'CHIL1', 'CHIL2', 'CHIL3', 'AGEC1', 'AGEC2', 'AGEC3', 'AGEC4', 'AGEC5', 'AGEC6', 'AGEC7', 'CHILC1', 'CHILC2', 'CHILC3', 'CHILC4', 'CHILC5', 'HHAGE1', 'HHAGE2', 'HHAGE3', 'HHN1', 'HHN2', 'HHN4', 'HHN5', 'HHN6', 'MARR1', 'MARR2', 'MARR3', 'MARR4', 'HHP1', 'HHP2', 'DW3', 'DW7', 'DW8', 'DW9', 'HU3', 'HU4', 'HHD1', 'HHD4', 'HHD6', 'HHD7', 'HHD8', 'HHD9', 'HHD10', 'HHD11', 'HHD12', 'ETHC1', 'ETHC3', 'ETHC4', 'ETHC5', 'ETHC6', 'HUR1', 'RHP1', 'RHP2', 'RHP3', 'RHP4', 'HUPA1', 'HUPA4', 'HUPA5', 'HUPA7', 'DMA', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'IC7', 'IC8', 'IC9', 'IC10', 'IC11', 'IC12', 'IC13', 'IC14', 'IC15', 'IC16', 'IC17', 'IC18', 'IC19', 'IC20', 'IC21', 'IC22', 'IC23', 'HHAS1', 'HHAS2', 'HHAS4', 'MC3', 'TPE1', 'TPE2', 'TPE3', 'TPE4', 'TPE5', 'TPE6', 'TPE7', 'TPE8', 'TPE9', 'PEC1', 'TPE10', 'TPE11', 'TPE12', 'LFC1', 'LFC3', 'LFC5', 'LFC10', 'OCC1', 'OCC2', 'OCC3', 'OCC4', 'OCC5', 'OCC6', 'OCC7', 'OCC8', 'OCC9', 'OCC10', 'OCC11', 'OCC12', 'OCC13', 'EIC1', 'EIC2', 'EIC3', 'EIC4', 'EIC5', 'EIC6', 'EIC7', 'EIC8', 'EIC9', 'EIC10', 'EIC11', 'EIC12', 'EIC13', 'EIC14', 'EIC15', 'EIC16', 'OEDC1', 'OEDC2', 'OEDC3', 'OEDC4', 'OEDC5', 'OEDC6', 'OEDC7', 'EC1', 'EC2', 'EC3', 'EC4', 'EC5', 'EC6', 'EC7', 'EC8', 'SEC1', 'SEC2', 'SEC3', 'SEC4', 'SEC5', 'AFC1', 'AFC2', 'AFC3', 'AFC4', 'AFC5', 'AFC6', 'VC2', 'VC4', 'ANC1', 'ANC2', 'ANC3', 'ANC4', 'ANC5', 'ANC6', 'ANC7', 'ANC8', 'ANC9', 'ANC10', 'ANC11', 'ANC12', 'ANC13', 'ANC14', 'ANC15', 'POBC1', 'LSC2', 'LSC3', 'LSC4', 'VOC1', 'VOC3', 'HC1', 'HC3', 'HC9', 'HC10', 'HC12', 'HC14', 'HC15', 'HC16', 'HC20', 'HC21', 'AC1', 'AC2', 'NUMPROM', 'CARDPM12', 'NUMPRM12', 'RAMNTALL', 'NGIFTALL', 'CARDGIFT', 'MINRAMNT', 'MAXRAMNT', 'LASTGIFT', 'TIMELAG', 'AVGGIFT']

In [9]:
len(columns_list)

236

- Feature selection with target_b = 1

In [10]:
data_target_B_1 = data_target_B_1.drop(columns = columns_list)

In [11]:
data_target_B_1

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,MINRDATE_MM,MAXRDATE_YR,MAXRDATE_MM,LASTDATE_YR,LASTDATE_MM,FIRSTDATE_YR,FIRSTDATE_MM,TARGET_B,TARGET_D,Predicted_Target_b
20,62.000000,3,8,40,27,9,99,0,0,97,...,1,94,4,96,3,87,1,1,4.0,1
30,61.611649,5,9,58,16,9,99,0,0,94,...,4,93,1,95,12,90,4,1,7.0,1
45,66.000000,5,9,24,39,9,89,0,11,99,...,12,94,4,96,2,87,4,1,5.0,1
78,69.000000,6,9,20,54,9,99,0,0,97,...,1,95,3,95,11,90,1,1,13.0,1
93,73.000000,1,7,53,8,7,99,0,0,7,...,9,95,9,95,9,92,9,1,10.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95298,45.000000,5,9,28,37,2,0,99,1,94,...,6,96,1,96,1,86,8,1,20.0,1
95309,51.000000,5,6,43,24,6,99,0,0,90,...,10,94,2,95,12,93,10,1,15.0,0
95398,86.000000,5,9,21,26,9,99,0,0,85,...,6,95,11,96,2,87,11,1,3.0,1
95403,58.000000,4,9,46,20,5,0,1,99,99,...,3,93,12,96,1,90,3,1,10.0,0
95410,58.000000,7,9,35,20,7,99,0,0,92,...,11,96,8,97,1,86,12,1,18.0,1

- X/y split

In [12]:
y = data_target_B_1['TARGET_D']
X = data_target_B_1.drop(['TARGET_B','TARGET_D'], axis = 1)

- Train/Test Split:

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

- Splitting Data into Categorical and Numerical

In [14]:
numericalX_train   = X_train.select_dtypes(np.number)
numericalX_test    = X_test.select_dtypes(np.number)
categoricalX_train = X_train.select_dtypes(object) 
categoricalX_test  = X_test.select_dtypes(object)

- Scaling and Encoding:

In [15]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first').fit(categoricalX_train)
encoded_categorical_train = encoder.transform(categoricalX_train).toarray()
encoded_categorical_train = pd.DataFrame(encoded_categorical_train, columns=encoder.get_feature_names_out()) 
encoded_categorical_test = encoder.transform(categoricalX_test).toarray()
encoded_categorical_test = pd.DataFrame(encoded_categorical_test, columns=encoder.get_feature_names_out())

from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(numericalX_train)
scaled_numerical_train = transformer.transform(numericalX_train)
scaled_numerical_train = pd.DataFrame(scaled_numerical_train, columns=numericalX_train.columns)
scaled_numerical_test  = transformer.transform(numericalX_test)
scaled_numerical_test  = pd.DataFrame(scaled_numerical_test, columns=numericalX_train.columns)

- Concatenating df:

In [16]:
X_train = pd.concat([scaled_numerical_train, encoded_categorical_train], axis = 1)
X_test = pd.concat([scaled_numerical_test,  encoded_categorical_test],  axis = 1)

2. Use this new dataframe to create a model to predict how much they will donate (Target D)

- Run Regressor model on data TARGET_D

In [17]:
from sklearn import linear_model

lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [18]:
prediction = lm.predict(X_test)
print(prediction)

[19.56734289 18.48998581 19.08820322  7.1506884   7.26651754 28.35990913
  4.59261623 19.41811073 30.86827956 15.48060034 18.01983609  6.39489924
 18.45362093 10.35386729 15.01314771 16.88942604 14.0591465  18.02942082
  6.46922362  5.34944942  5.16576158 15.44604407 30.77350401 28.29171199
  8.85992716 16.80028248 17.25948683  6.21502267 32.85606281 15.34894574
 16.16452054 16.24484841 18.28117109 12.26326914 15.17633219  3.59252935
  3.97193113 32.59994184  9.74243175 11.2678327  19.49915992  7.28005249
 30.76496764 32.43593785  8.66385532 14.38649808 28.74842357 15.67457161
  5.23906095 18.46747471  8.50408248  8.02760591 17.10478211 17.20985877
 17.86552073  6.51348811  5.76620853  5.89044464 17.32824146 28.06376442
 17.63735477  8.27637782 19.86134622 11.30385416  8.63224612 29.51294477
 19.87032947 19.63845491  6.76768386 16.43749751 16.41574117  4.18805142
  8.96791457 30.18129407 17.85433738 10.14487979  6.74122605 16.35157603
 15.57023434 10.10408698 31.74838547 32.07722119  9.45327792 11.38184898
 17.16363648 21.18784277  9.18910148 19.71806691 12.63230696  4.99134802
 20.41198552 10.23144298 12.13164121 17.5973016  13.06614189 10.63632415
 19.11414177 14.56992122 18.44395245 16.17957989 17.41487828 31.97822014
  7.05269081  8.72323601 11.82139718 30.81523138 19.9973293  33.83264487
 12.96535487  8.79459119 13.01773448  4.68703848 11.08291017 13.20497787
 20.23959904 17.57048911 17.85310945  9.93051587 17.18198911 10.82728924
  7.85926489 32.49609447 28.67191634 27.78546986 19.06047531 10.92725028
 16.94931397 14.77334573 14.6413656  17.58668282 17.82004462 11.34508893
 19.90626595 16.06784565 11.044083    8.50110141 19.45798982 30.73162359
 16.18796934 17.71669361 13.17259139 30.44412004 28.09176683  7.09323239
  9.56437302 15.62134269 18.26115596  8.88312776 33.15127368 12.65828627
 15.18765452 10.30274662 30.28881845 18.42386598  7.91544008 16.29633892
 15.76728719 18.78883322 19.90571722 14.46889246 17.41626433 18.81138896
 16.62668456  3.03505283 30.4728686  13.31600795  9.39071368 18.97723964
 16.20744395 16.54099324  9.92214802 19.60448204 30.90288252  4.90613054
 18.25655314 15.11104193 10.2545816  19.02969153 17.63794111 17.44950046
 17.95924929 16.43355631 17.1269155  18.07085692 12.0922083  30.39263349
 15.35928182  3.82289197  9.91603351  9.36664282 10.83313441 15.88595342
 15.8212104   8.91766721  6.31529267 14.16116333 30.04443863 13.92160355
 15.81418012 16.26411986 17.60712538  5.6192628  11.66724747 17.16465253
 30.64560236 13.87210404 29.75506863  7.19405678  8.61822366 34.6197014
 15.06842382  6.40917263 15.90252585 18.23918271 15.26699129  3.792977
 11.36139634 17.59389183  6.30581217 13.59871465 19.2221739  15.78557386
 12.537158   14.73975308 17.39170237 18.17031545  9.47005725  8.34793549
 18.88262724 21.98610922 20.02163124 19.86494783 17.57541619 30.93305512
 12.31006235 14.36842902 10.09865708  9.23952174 30.29116188 16.83320056
 19.80006688 17.84068324 17.08449479 18.89520133  5.7465155  18.57974007
 11.48610237  4.77056044  8.16725836 13.80311213 16.41063949 29.0827413
 13.19019122  4.81507339 16.67997701 15.12368224 15.08220922 18.35351892
 17.93487558 18.70185173 14.72986792 21.05526562  9.65637243 33.4962115
 14.5860626   6.01466051 28.49423168 17.71710959 17.73700895 30.10769405
 16.79021922 14.9386081  29.93851339 11.42962752 14.8383115  10.74591459
 15.20524729  8.0518345   9.2842168  35.12469659 10.94005575 14.85522739
 13.02871322 10.96510862  2.48679132 28.60668168  4.99288711 18.24926838
 32.2235505   6.22192983 13.37058434 22.38646167 13.19636739  6.48693802
 17.62939299  2.3786603  16.03613415 16.73227967  8.67011866 16.46453596
 11.22150438 15.72506311  9.28020573 28.92761198 17.75242493 13.53009008
 15.31344408  6.63117846 15.44922989 32.7826623  20.87047066 28.41439708
 19.38362242 11.72572644 17.81882096  8.05086227  8.09876426 17.17250677
 11.0782724   9.20644915 33.47380248 14.97291241 17.137678    1.49604438
  4.85524659 11.62451527 12.71569218 17.24281651  9.42836476 14.81452313
 10.28447906 28.88657014 18.87855853 22.31332999 19.01099875 33.54175651
  6.23597524 34.08726634 19.7287503   8.87574551 15.32597001  4.65892224
 12.65649723 11.57626662 32.22148857  7.440123   11.28873245 31.66788396
 11.53052605 12.58096553 14.61708624  5.78219603 27.70251068 17.71127362
  7.83012749 19.73192017 17.88426522 16.29527623 10.23907077 11.48465665
  9.68509231 19.72418064 32.26068413  2.76455438 14.28064509  4.58051153
 15.55166323  6.80859392 27.48944786  7.87597741 17.85485718 19.15031559
 17.75279405 17.97579241 20.0821043  31.61333379 16.86048413 18.35385346
 33.43108469 30.62527597 28.49497937 16.01242066 25.27294205 17.05910973
 18.64320441 31.41462568  3.55488667 31.21493624  9.41473581 11.9383454
 18.12302046  7.53576325 15.78003567 21.38901901  5.38503501 33.12193691
 19.04509913 29.72894505  4.73224975  9.34125464 17.34391463  9.17104066
 15.63566831 28.38144175 11.69525548 12.6584619   6.45984461 11.96296198
 14.29599474 18.29395087 27.72298104 18.89746073 31.73603202 18.65346308
 15.7533778   6.27117935  5.80244939 14.19877171  4.21651112 17.78291844
 15.40066692 14.69643447 14.76039956 27.4851302  17.35143584  9.16481613
 17.29027474 11.81456391 17.64424289 19.48546161 30.88129298 15.64338496
 10.38999924 18.56236934 17.94379906 16.86976812 17.31441011  5.4839153
  5.52426898 15.0078526  18.51074682 28.17826568 10.68373129 19.52506215
  9.39805719 16.45350831 18.50194249 19.38871561 14.43073349 24.60984101
 30.00144631 18.67204008 11.99148438 11.70209341 31.87142247 31.14665453
  3.77318077 12.82638992 35.98497803 15.61481928 18.11572911 19.05384488
 30.59213756 17.04052796 30.94573048 18.4778324  12.83869234 17.37314801
 19.04831326  5.32826507 10.14187789 15.05564303 21.81896596  6.4667942
 13.75233034 16.98809387 18.92090465  5.82546431 30.95262053  6.14356908
  6.28204747 17.50680927 11.37582467 18.61628068 18.39290006 10.2574182
 17.60778015 19.63404033 33.40002766 12.0437048  11.1067126  12.44109822
  6.84090218  4.43556905 18.26360112 30.45945503 17.48506258  7.62983695
  1.617051   18.64100164 10.56784478 16.20941019 10.47374514 13.6137586
 17.00296627 29.66273608 12.5268541  16.02269709 15.86902016 12.22869233
 30.19920421 10.8593604  17.67661674 18.09367759  4.02131283  6.78370371
 14.47747041 28.07176342 18.76872214 15.11790168  9.20219324  9.54529605
 10.24576291 20.46597731 18.0526366  17.11205487 29.27695863 19.74516152
 31.89173553 19.62119065 16.59254582 30.11041811 15.88978753 31.73864826
 16.80585338 18.06226682  7.0572813  13.3595559   8.02001872 18.97584376
 16.92160182 28.20209222  3.24869178 19.55635998 13.44175615 12.30941709
 16.92972541 17.16108247 17.14827583 31.73871988 19.0192008   9.70165816
 31.85152705  4.455386   10.59357573 31.00455705 18.70968719 32.07257212
 12.2691497  10.96372636 16.02287088 10.62196834 18.59431095 10.81310489
 21.17285298 16.5755864  13.29259397 12.80644494 12.72469966 16.36253996
 30.94983218 32.24808449 12.01885958 10.62591965 26.45568398  6.75997645
 19.21476807  8.99040675 28.59837496 11.82829992 12.20514455  9.93235546
 15.97687172  9.03026453 17.31500296 18.3932159   8.25126406  8.18979416
 17.73526561  5.98959169 11.68748765 13.3907438  19.54914511 31.6472714
 11.49176473 11.31488519 12.41468782 31.48327902 19.33312679 28.13186777
  6.5694873   8.15964295 16.43237765 11.23373564  9.51962162  9.92326244
 14.55726759 13.94540993 31.7585193  28.20370221  4.3563184   7.01051825
 18.11829816 15.02584288 18.58703345  1.68318292 17.34208256  6.75612989
 21.38247409 11.79524429 20.87801773  6.16698564 17.16965045 18.56988417
 27.72869589 32.29745136 29.31892882 15.75220924 29.31628467 31.09448713
  9.7633548  -0.42125941 17.87969164  8.719528    8.67560309 11.53603853
 15.89793961  5.63362192  8.82214656 15.73167029 15.73002407 15.59282118
 31.39208034  4.49996404 19.10884367  6.54606951 15.09293755 15.36780548
 31.02887946 21.57863518 17.13437204 13.98466489 33.31234229 20.12607596
 12.06062147 21.2455335  15.20539307 16.27017678 11.05847358 15.0508134
  3.09672415 10.21601156 25.16368402 20.18557436  9.60827908 15.03994212
 16.88965043 32.45433766 31.01986965 14.96432275 17.3724474  17.68872565
 28.88178572 15.56070694 15.74697009 11.4626151  10.75634243 15.85486154
 19.4148991  18.07020536 17.92515548  5.46773629  7.96613126  5.88912029
  8.97228197 31.9735781  10.96745132 11.69409271 17.95855951  9.20940134
  8.80752761 10.06059473  4.44980994 31.85792448 32.33168013 22.92803534
 18.16249706 20.62401277  6.91043593 17.92339504 33.40733666  8.50702822
 24.19950474 10.23916987  9.33937317  1.75193951 15.18681545 17.63453534
 19.50655778 28.35750109 10.66214851  8.92951146  6.70798169 15.91571225
 19.50045141  7.04353613 31.99211292 16.64144164 16.59271978 25.01098389
  2.6074746  16.95839257 18.96936814  7.73162575 16.54408181 11.06731058
  5.19510943 12.73450988 10.88798533 18.2381629  11.78117368 11.18899285
 20.73529793 18.60202149 28.14861617 17.22840738  8.03942454  7.82685851
  5.94593695 17.57292166 17.24120482 18.77450001  9.74380938  6.94836459
 10.66983305  8.63922666 18.22497911 17.25917882  8.70328844 16.181555
 15.70543739 10.16844476  6.54270831 19.44655652 29.65231808 13.30137856
 17.36706976 31.75738107  4.40470514 33.37884888 13.4359873  14.12708767
 18.50032629  7.22103294 31.59354765 14.16138543  7.41545949 14.20623197
  6.11512521  6.51022957  6.36104442  6.51678341  6.33697096 21.53249119
 20.10033374 33.27235175 22.90019227 18.48921111 17.63966703 14.48885801
 16.91354617 15.49399553 10.92760345 18.94146625 18.42601478 12.27482979
 23.61265921 30.62016212  5.6697217  15.04023916  7.83174731 15.20403563
 20.80969077 19.77912951 10.03257989  8.4844223  16.04384953 17.75807135
 15.41069712 15.67134462 14.25342269 11.04568403 31.36265243  7.07269355
 18.58095054 18.85914996 13.4568979  13.37377021 32.1565079  11.64948541
 19.76171306 10.06822247  6.27738927  5.52876281 20.03930996 30.60914545
 13.62786716 28.81632754 14.07227779 25.64215434 17.73953171 17.39384131
  6.50648178 20.25614279 17.36656953 25.21016648 14.66545363 17.69893918
 30.54893672 13.29325421 21.00948303 20.25845946  5.85009869 30.35215922
  5.16330132 10.71832528 20.75354603 19.73692001 18.59313238 10.43487511
 29.95846655  7.32454582  8.62493648 14.7445778  20.47323611 13.70116615
 11.1290178  15.99976131 12.32730309 33.35169073 33.91533894 28.62756979
 21.70679182 32.21811909 30.80179714 29.73981714 33.83718013 13.73162631
 17.64240966  7.96380899 17.46778656  8.22680245 14.38763122 29.01258374
 30.42469722 35.57586105 16.93565059 11.57641902 14.94104103 31.73051237
 15.74694607 33.19809587 19.5384753  14.95581162 17.05264164 12.41103996
  6.04748913 29.69729985 16.75376166 16.67254548 12.69530395  3.07869813
 15.65854974  9.13724895 25.37400326 30.40370822 17.59404266 30.54226688
 17.56055629 11.75313136 18.34958784 19.94427626 16.72078017 11.84883977
 17.3743337   9.83666872 19.06825688  7.24320718 11.88816393 11.31855691
  6.45297233 16.62315459 17.26689833  9.18722845 13.87534548 11.15867995
 16.05510495 31.09712355 14.05337136 14.23903452 27.97115401 30.90871291
 21.18094209  6.64135427  9.65554461 10.47513834 16.69492994 31.75797151
 16.4309315   8.80185322 18.93258594  9.91213726 15.34846418 20.60735738
 14.26197555 16.70824375 34.46610166 10.20336861 18.46477257 20.12822101
 13.22540517 17.01262052  3.23411142 18.61179552 19.30815813 13.7424555
 17.0826948  10.86843503 16.65958422 18.39795042 13.29958955  6.7553732
 16.11497779 17.40709433 17.03156212  5.90282889 18.29288533 16.71756377
 16.73064543 12.87400565  9.80511093  9.37179916 30.83719308 19.28036266
  3.62244951  7.64889763 15.18986086  6.17321303 12.37768574  5.47587547
  7.05608995 19.89598815  9.42968067  6.00408905 17.40463737 16.50019138
 32.33441114 19.02466305 19.13717341]

- Use trained model to run Regressor on ending dataset of process 1

3. Using the regression model, make predictions on all of the people our classification model predicted will donate.

In [19]:
data_treated_process_1 = pd.read_csv ('X_treated_with_predictions.csv')

In [20]:
data_treated_process_1

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,Predicted_Target_b
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.000000,0.353535,0.656566,0.929293,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1
1,0.463918,0.833333,1.000000,0.555556,0.111111,1.000000,1.000000,0.000000,0.000000,0.676768,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.000000,0.020202,0.989899,0.969697,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.000000,0.080808,0.929293,0.616162,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1
4,0.793814,0.333333,0.222222,0.090909,0.535354,1.000000,1.000000,0.000000,0.000000,0.020202,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.624862,0.666667,1.000000,0.474747,0.111111,1.000000,1.000000,0.000000,0.000000,0.787879,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
95408,0.484536,1.000000,1.000000,0.434343,0.191919,1.000000,0.969697,0.000000,0.040404,0.919192,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.000000,0.000000,0.000000,0.828283,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.000000,0.000000,0.000000,0.929293,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.000000,0.000000,0.000000,0.868687,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1

- Matching columns used during training

In [21]:
common_columns = X_train.columns.tolist()

In [22]:
print(common_columns)

['AGE', 'INCOME', 'WEALTH1', 'VIETVETS', 'WWIIVETS', 'WEALTH2', 'POP90C1', 'POP90C2', 'POP90C3', 'ETH1', 'ETH2', 'HHN3', 'DW1', 'DW2', 'DW4', 'DW5', 'DW6', 'HV1', 'HV2', 'HV3', 'HV4', 'HU1', 'HU2', 'HU5', 'HHD2', 'HHD3', 'HHD5', 'ETHC2', 'HVP1', 'HVP2', 'HVP3', 'HVP4', 'HVP5', 'HVP6', 'HUR2', 'HUPA2', 'HUPA3', 'HUPA6', 'RP1', 'RP2', 'RP3', 'RP4', 'MSA', 'ADI', 'IC6', 'HHAS3', 'MC1', 'MC2', 'PEC2', 'TPE13', 'LFC2', 'LFC4', 'LFC6', 'LFC7', 'LFC8', 'LFC9', 'VC1', 'VC3', 'POBC2', 'LSC1', 'VOC2', 'HC2', 'HC4', 'HC5', 'HC6', 'HC7', 'HC8', 'HC11', 'HC13', 'HC17', 'HC18', 'HC19', 'MHUC1', 'MHUC2', 'CARDPROM', 'CONTROLN', 'HPHONE_D', 'RFA_2F', 'CLUSTER2', 'CLUSTER', 'DATASRCE', 'DOMAIN_B', 'ODATEW_YR', 'ODATEW_MM', 'DOB_YR', 'DOB_MM', 'MINRDATE_YR', 'MINRDATE_MM', 'MAXRDATE_YR', 'MAXRDATE_MM', 'LASTDATE_YR', 'LASTDATE_MM', 'FIRSTDATE_YR', 'FIRSTDATE_MM', 'Predicted_Target_b', 'STATE_FL', 'STATE_GA', 'STATE_IL', 'STATE_IN', 'STATE_MI', 'STATE_MO', 'STATE_NC', 'STATE_TX', 'STATE_WA', 'STATE_WI', 'STATE_other', 'HOMEOWNR_U', 'GENDER_M', 'GENDER_other', 'RFA_2A_E', 'RFA_2A_F', 'RFA_2A_G', 'GEOCODE2_B', 'GEOCODE2_C', 'GEOCODE2_D', 'DOMAIN_A_R', 'DOMAIN_A_S', 'DOMAIN_A_T', 'DOMAIN_A_U']

In [23]:
len(common_columns)

119

In [24]:
data_treated_process_1 = data_treated_process_1 [common_columns]

In [25]:
data_treated_process_1

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.000000,0.353535,0.656566,0.929293,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.463918,0.833333,1.000000,0.555556,0.111111,1.000000,1.000000,0.000000,0.000000,0.676768,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.000000,0.020202,0.989899,0.969697,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.000000,0.080808,0.929293,0.616162,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.793814,0.333333,0.222222,0.090909,0.535354,1.000000,1.000000,0.000000,0.000000,0.020202,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,0.624862,0.666667,1.000000,0.474747,0.111111,1.000000,1.000000,0.000000,0.000000,0.787879,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
95408,0.484536,1.000000,1.000000,0.434343,0.191919,1.000000,0.969697,0.000000,0.040404,0.919192,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.000000,0.000000,0.000000,0.828283,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.000000,0.000000,0.000000,0.929293,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.000000,0.000000,0.000000,0.868687,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

- Making predictions of all people our classification model predicted they will donate

In [26]:
data_treated_predicted_targetb_1 = data_treated_process_1[data_treated_process_1['Predicted_Target_b'] == 1]

In [27]:
data_treated_predicted_targetb_1

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.0,0.353535,0.656566,0.929293,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.0,0.020202,0.989899,0.969697,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.0,0.080808,0.929293,0.616162,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
7,0.624862,0.166667,1.000000,0.363636,0.121212,1.000000,1.0,0.000000,0.000000,0.969697,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
12,0.731959,0.500000,0.222222,0.313131,0.333333,0.000000,0.0,0.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95404,0.536082,0.000000,1.000000,0.313131,0.282828,0.333333,0.0,0.171717,0.838384,0.989899,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
95406,0.505155,0.833333,0.666667,0.262626,0.464646,0.666667,0.0,0.000000,1.000000,0.888889,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.0,0.000000,0.000000,0.828283,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.0,0.000000,0.000000,0.929293,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.0,0.000000,0.000000,0.868687,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [28]:
donation_amount_predictions = lm.predict(data_treated_predicted_targetb_1)

In [29]:
donation_amount_predictions

array([10.94953704,  9.49740851, 12.88215131, ..., 14.31270251,
       14.30977695, 31.42608739])

- Column with the amount prediction for all predicted donors

In [30]:
data_treated_predicted_targetb_1['Donation_amount_Prediction'] = donation_amount_predictions

In [31]:
data_treated_predicted_targetb_1

,AGE,INCOME,WEALTH1,VIETVETS,WWIIVETS,WEALTH2,POP90C1,POP90C2,POP90C3,ETH1,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,Donation_amount_Prediction
0,0.608247,0.666667,1.000000,0.343434,0.181818,0.555556,0.0,0.353535,0.656566,0.929293,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,10.949537
2,0.624862,0.333333,0.111111,0.292929,0.333333,0.111111,0.0,0.020202,0.989899,0.969697,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,9.497409
3,0.711340,0.000000,0.444444,0.141414,0.313131,0.000000,0.0,0.080808,0.929293,0.616162,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,12.882151
7,0.624862,0.166667,1.000000,0.363636,0.121212,1.000000,1.0,0.000000,0.000000,0.969697,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,9.374444
12,0.731959,0.500000,0.222222,0.313131,0.333333,0.000000,0.0,0.000000,1.000000,1.000000,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,4.716095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95404,0.536082,0.000000,1.000000,0.313131,0.282828,0.333333,0.0,0.171717,0.838384,0.989899,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,8.085495
95406,0.505155,0.833333,0.666667,0.262626,0.464646,0.666667,0.0,0.000000,1.000000,0.888889,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,6.202788
95409,0.608247,0.666667,1.000000,0.464646,0.202020,1.000000,1.0,0.000000,0.000000,0.828283,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,14.312703
95410,0.587629,1.000000,1.000000,0.353535,0.202020,0.777778,1.0,0.000000,0.000000,0.929293,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.309777
95411,0.814433,0.666667,0.888889,0.222222,0.272727,0.888889,1.0,0.000000,0.000000,0.868687,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,31.426087

4. Evaluate the result of your model and estimate how much better the result are for the business in comparison with the naive scenario we discuss on Monday. (Just sending donation cards to everyone)

In [32]:
Predictions_df = data_treated_predicted_targetb_1[['Predicted_Target_b', 'Donation_amount_Prediction']]

In [33]:
Predictions_df

       Predicted_Target_b  Donation_amount_Prediction
0                       1                   10.949537
2                       1                    9.497409
3                       1                   12.882151
7                       1                    9.374444
12                      1                    4.716095
...                   ...                         ...
95404                   1                    8.085495
95406                   1                    6.202788
95409                   1                   14.312703
95410                   1                   14.309777
95411                   1                   31.426087

[38890 rows x 2 columns]

In [34]:
Predictions_df['Donation_amount_Prediction'].describe()

count    38890.000000
mean        14.439379
std          6.351044
min         -4.391679
25%         10.011326
50%         13.277657
75%         17.757196
max         42.273451
Name: Donation_amount_Prediction, dtype: float64

In [35]:
Predictions_df = Predictions_df[Predictions_df['Donation_amount_Prediction'] > 0]

In [36]:
Predictions_df

       Predicted_Target_b  Donation_amount_Prediction
0                       1                   10.949537
2                       1                    9.497409
3                       1                   12.882151
7                       1                    9.374444
12                      1                    4.716095
...                   ...                         ...
95404                   1                    8.085495
95406                   1                    6.202788
95409                   1                   14.312703
95410                   1                   14.309777
95411                   1                   31.426087

[38884 rows x 2 columns]

- Results on Monday

In [37]:
data['TARGET_D'].describe()

count    95412.000000
mean         0.793073
std          4.429725
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        200.000000
Name: TARGET_D, dtype: float64

In [38]:
95412 * (0.793 - 0.68) 

# (mean donation for all people minus cost of mailing piece) * number of mailing pieces

10781.555999999999

In [39]:
data[data['TARGET_B']==1]['TARGET_D'].describe()

count    4843.000000
mean       15.624344
std        12.445137
min         1.000000
25%        10.000000
50%        13.000000
75%        20.000000
max       200.000000
Name: TARGET_D, dtype: float64

In [40]:
4843 * (15.62 - 0.68) 

# (mean donation for all people who made a donation minus cost of mailing piece) * number of mailing pcs

72354.42

In [41]:
Predictions_df['Donation_amount_Prediction'].describe()

count    38884.000000
mean        14.441783
std          6.348558
min          0.336681
25%         10.012681
50%         13.278973
75%         17.757712
max         42.273451
Name: Donation_amount_Prediction, dtype: float64

In [42]:
38884 * (14.44 - 0.68) 

# (mean donation for all people predicted as donors minus cost of mailing piece) * number of mailing pcs

535043.84

In [43]:
38884 * 0.68

# Costs of mailing the predicted donors in total

26441.120000000003

In [44]:
26441.12/14.44

# Donors that we need at least to cover those costs of mailing all predicted donors

1831.1024930747922

In [45]:
4843*14.44

# If we assume that more or less the same number of people will finally donate, we compare the amount that we would
# obtain from donations for the same number of donors as last year mailing all the predicted donors (38884)

69932.92

In [46]:
69932.92-26441.12

# Considering more or less from all our predicted donors (38884) that we will have approx. the same number
# as last year (4843) we would obtain from the difference between mean donation for those minus cost of mailing
# all our predicted donors

43491.8

In [47]:
# Comments:

# The predictive model, while not perfect, showcases promising potential when compared to simplistic approaches. 
# Although a best-case scenario assumes all predicted donors will contribute, and a worst-case scenario suggests 
# no donations, the most reasonable and moderate estimation lies in the historical data from the previous year.

# Under this moderate scenario, targeting predicted donors, while considering previous donors, 
# shows a likelihood of yielding better outcomes than sending to all or solely targeting the previous year's donors. 

# While acknowledging the uncertainty in predictions, this approach stands as a more cost-efficient and potentially 
# higher-yielding strategy, aligning with the organization's objectives.